/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    background: #f5f5f5;
    text-align: center;
    padding: 20px;
  }
  
  /* Settings container */
  .settings-container {
    width: 320px;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: auto;
  }
  
  /* Header */
  h1 {
    font-size: 24px;
    color: #cd1fff;
    margin-bottom: 15px;
  }
  
  h2 {
    font-size: 18px;
    color: #cd1fff;
    margin-bottom: 10px;
  }
  
  /* Slider label */
  label {
    font-size: 14px;
    color: #333;
    display: block;
    margin: 10px 0 5px;
  }
  
  /* Slider */
  #timerSlider {
    width: 100%;
    appearance: none;
    height: 8px;
    border-radius: 5px;
    background: #ff98e2;
    outline: none;
    opacity: 0.9;
    transition: opacity 0.3s;
  }
  
  #timerSlider:hover {
    opacity: 1;
  }
  
  #timerSlider::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ff57d0;
    cursor: pointer;
  }
  
  #timerSlider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ff57d0;
    cursor: pointer;
  }
  
  /* Display selected timer value */
  #sliderValue {
    font-weight: bold;
    color: #cd1fff;
    font-size: 16px;
    display: block;
    margin-top: 5px;
  }
  
  /* Save button */
  button {
    width: 100%;
    background-color: #ff98e2;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 15px;
  }
  
  button:hover {
    background-color: #ff57d0;
  }

  .top-right-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
  }
  
  .top-right-icon img {
    width: 100%;
    height: auto;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
  }
  
  .top-right-icon img:hover {
    opacity: 1;
  }
  
  /* popup container */
.popup-container {
    width: 320px;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
  }
  